* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "minimal6";
    src: url(/assests/fonts/BandarRegular.ttf);
}
@font-face {
    font-family: "minimal2";
    src: url(/assests/fonts/Simple\ Minimalist.otf);
}
@font-face {
    font-family: "minimal5";
    src: url(assests/fonts/BricklayDemoRegular.ttf);
}
@font-face{
    font-family: "minimal7";
    src: url(/assests/fonts/BandarRegular.ttf);

}
a{
    text-decoration: none;
}
#top_name{
    display: flex;
    font-family: "minimal5";
    text-align: left;
    font-size: 3vw;
    max-width: fit-content;
    min-width: fit-content;
    color: #8B80E0;;
    margin-left: 0.5vw;
}
#Home{
    color: #ffff;
}
#About{
    color: #ffff;
}
#Resume{
    color: #ffff;
}
#Projects{
    color: #ffff;
}
.top_items {
    color: #ffff;
    display: flex;
    font-family:"minimal7";
    list-style-type:none;
    text-decoration: none;
    /* justify-content: right; */
    font-size: 25px;
    gap:0.5vw;
    /* font-weight: 500; */
    margin-right: 0.8vw;
    }
.top_items li:hover{
    position:relative ;
    top: 0px;
    font-size: larger;
    transition-duration: 0.5s;
    /* text-decoration-line: underline; */
    /* text-decoration-color: #383B53; */
    /* text-decoration-style: wavy; */
    text-decoration-thickness: 2px;

}
#navbar{
    height: 70px;
    /* background:linear-gradient(90deg,#0F2027,#203A43,#2C5364); */
    text-align: left;
    border-radius: 1vw;
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-style: dotted; */}
/* #navbar:hover{
    border-style: none;
    border-radius: 0px;
    transition-duration: 0.8s;
    transition-delay: 0ms;
} */

body{
    display: flexbox;
    height:100vh;
    border-style:none;
    background:linear-gradient(270deg, #8B80E0,#536976,#292E49);
    border-radius: 40px;
}
#home{
    display: flex;

}
#pfp{
    position: absolute;
    top: 11rem;
    right: 9rem;
    height: 22em;
    border-style: dashed;
    border-radius: 50%;
    border-width: 3.5px;
    border-color: #70161E;
}
#pfp:hover{
    border-style: dotted;
    border-radius: 120px;
    transition-duration: 1s;
}
#main_contents{
    color: #83858C;
    display: flexbox;
    font-family: "minimal2";
    position: absolute;
    left: 1em;
    top: 2em;
    width: 40rem;
    font-size: 80px;
    text-align: center;
}
#w1 {
    color: #8B80E0;
    /* border-right: 5px solid; */
    width: 0; /* Start with width 0 */
    white-space: nowrap;
    overflow: hidden;
}
#w2{
    text-align:center;
}
#w3{
    font-size: 40px;
    position: relative;
    left: -6.5rem;
}
#about_me{
    border-style: none;
    border-color: #E2DE84;
    border-radius: 30px;
    font-size: 35px;
    font-family: "minimal2";
    background-color: #8B80E0;
    color: #FFA9D7;
    position: absolute;
    left: 30.5rem;
    top: 28.3rem;
    height: 50px;
    width: 9.5rem;
}
#about_me:hover{
    border-style: dashed;
    border-width: 2.5px;
    cursor: pointer;
    /* color: #8B80E0; */
    /* background-color: #626267; */
    transition-duration: 0.4s;
    font-size: 50px;
    height: 60px;
    width: 12rem;
    border-radius: 55px;
    border-color:yellow;
}
#heart{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 35px;
    bottom:-1px;
    left: 38%;
    /* border-style: dashed; */
    /* transition:ease-in; */
}
#heart:hover{
    opacity: 0;
    transition-duration: 1s;
    /* transition-timing-function: cubic-bezier(1, 1, 1, 1); */
}
footer{
    display: flexbox;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 25px;
    bottom: 9.7px;
    left: 45%;
    font-size:15px;
}
#brain{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 45px;
    bottom:-7px;
    left: 36%;
    opacity: 0;
}
#brain:hover{
    transition-duration: 1s;
    opacity: 1;
}
#sm_links{
    /* flex-grow: 1; */
    border-style: dashed;
    border-color: #9f8999;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items:center;
    border-width: 0.2vw;
    gap: 1vw;
    padding: 0.5vw;
    /* margin-top: auto; */
    min-width: fit-content;
    max-width: fit-content;
    /* min-height: fit-content; */
    /* max-height: fit-content; */
    /* margin-bottom: 10vh; */
    margin-top: 75vh;
    margin-left: 12vh;
}
#sm_links:hover{
    border-style: dotted;
    border-radius: 120px;
    transition-duration: 2s;
}
#sm_logo{
    border-color: #4E8098;
    border-width: 3px;
    display: flex;
    height: 55px;
    /* position: relative; */
    top: 10rem;
    left: 1rem;
}
#sm_logo:hover{
    transition-duration: 0.3s;
    transform: translateY(-5px);
}
#text_socials{
    display: flex;
    margin-bottom: 30vh;
    margin-left: 14.5vw;
    /* text-align: center; */
    font-size: 25px;
    font-family: "minimal6";
    color: #83858C
}
@media only screen and (max-width:600px){
    #pfp{
        height:3.5rem;
        position: absolute;
        top: 0.5vh;
        left: 0.5vw;
        border-radius: 50%;
        border-width: 0px;
        /* border-radius: 30px; */}
    #name{
        font-size:25px;
        position: relative;
        font-weight: 900;
        top: -20px;
        left: 45px;
        color: #FFA9D7;
    }
    #navbar{
        height: 7vh;
        background:linear-gradient(90deg,#0F2027,#203A43,#2C5364);
        text-align: left;
        border-radius:0px;
        position: relative;
    }
    .top_items{
        visibility: 0px;
    }
    #main_contents{
        font-size: 65px;
        position: relative;
        top: 8rem;
        left: 10px;
    }
    #w3{
        font-size: 35px;
        position: absolute;
        display: flex;
        top:18.5rem;
        left: -7.1rem;
        text-align: left;
        justify-content: space-evenly;
        width: 25rem;
    }
    #sm_links{
        border-style: dashed;
        border-color: #9f8999;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items:center;
        border-width: 0.2vw;
        gap: 0.5vw;
        padding: 0.5vw;
        margin-top: auto;
        min-width: fit-content;
        max-width: fit-content;
        margin-bottom: 15vh;
        margin-left: 12vh;
    }
    #text_socials{
        position: absolute;
        text-align: center;
        font-size: 25px;
        font-family: "minimal6";
        color: #83858C;
    }
    #about_me{
        border-style: none;
        border-color: #E2DE84;
        border-radius: 30px;
        font-size: 30px;
        font-family: "minimal2";
        background-color: #8B80E0;
        color: #FFA9D7;
        position:static;
        height: 40px;
        width: 8.5rem;
    }
    #me_button{
        position: relative;
        display: flex;

        justify-content: space-evenly;

    }
    #about_me:hover{
        border-style: dashed;
        border-color: yellow;
        border-radius: 30px;
        font-size: 30px;
        border-width: 1px;
        font-family: "minimal2";
        background-color: #8B80E0;
        color: #FFA9D7;
        position: absolute;
        left: 12rem;
        top: 30.3rem;
        height: 40px;
        width: 8.5rem;

    }
    footer{
        display: flexbox;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 25px;
        bottom: 0vh;
        left: 25%;
        font-size:15px;
    }
    #w4{
        display: none;
    }
    #tag_line{
        display: none;
    }
    .top_items{
        display: none;
    }
    #body{
        height: 100vh;
        width: 100vw;
        border-radius: 10px;
    }
    navbar i{
        display: block;
    }

}
#download_div a{
    color: white;
}
#download_div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    font-size: 10vh;
    margin-top: 7vh;
}
#down_button{
    font-size: 4vh;
    border-radius: 15px;
    padding: 5px;
    width: 30vh;
    border-style: solid;
    border-width: 0.3px;
    background-color: #4E8098;
    font-family: 'Times New Roman', Times, serif;
}
#down_button:hover{
    border-style: dashed;
    border-width: 1px;
}
#resume_container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 98.9vw; */
    height: 100%;
    background-color: #0F2027;
    margin-left: 50vh;
    margin-right: 50vh;
}
#resume{
    justify-content: center;
    align-items: center;
    height: 1280px;
    width: 1264px;
    margin-top: auto;
    border-style: dashed;
    border-radius: 20px;
}


