* {
    padding: 0;
    margin: 0;
}
::-webkit-scrollbar {
    background-color:#EBA6A9;
    width: 7px; 
  }
  ::-webkit-scrollbar-thumb {
    background-color:#48297f; 
    border-radius: 40px;
  }

html{
    scroll-behavior: smooth;
}
@font-face {
    font-family: "minimal6";
    src: url(/assests/fonts/Nunito-Regular.ttf);
}
@font-face{
    font-family: "minimal3";
    src: url(/assests/fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: "minimal7";
    src: url(/assests/fonts/BandarRegular.ttf);
}
@font-face {
    font-family: "minimal2";
    src: url(/assests/fonts/Simple\ Minimalist.otf);
}
@font-face {
    font-family: "minimal5";
    src: url(assests/fonts/BricklayDemoRegular.ttf);
}
@font-face{
    font-family: "minimal4";
    src: url(/assests/fonts/Montserrat-Thin.ttf);
}
@font-face {
    font-family: "minimal1";
    src: url(/assests/fonts/Montserrat-Light.ttf);
}
a{
    text-decoration: none;
}
.str_holder{
    width: 100%;
    /* height: 10vh; */
    /* background-color: #000; */
    /* z-index: 1000; */
    /* opacity: 0.5; */
    /* position: relative; */
}
svg{
    /* fill:blueviolet; */
    /* background-color: #a17fe0; */
    /* opacity: 0; */
    /* z-index: 0; */
    position: absolute;
    /* height: 1000; */
}
#cursor_bg{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    /* background-color: #000; */
    position:fixed;
    z-index: 10;
}
#top_name{
    font-weight: 900;
    display: flex;
    font-family: "minimal5";
    text-align: left;
    font-size: 3vw;
    max-width: fit-content;
    min-width: fit-content;
    color: #EBA6A9;;
    margin-left: 0.5vw;
}
#Home{
    transition: color 0.5s ease-in-out;
    gap: 0.2vw;
    display: flex;
    color: #000;
}
#About{
    transition: color 0.5s ease-in-out;
    /* font-weight: 900; */
    gap: 0.2vw;
    display: flex;
    color: #000;
}

#Resume{
    transition: color 0.5s ease-in-out;

    gap: 0.2vw;
    display: flex;
    color: #000;
}
#Projects{
    transition: color 0.5s ease-in-out;

    gap: 0.2vw;
    display: flex;
    color:#000;
}
#navitem-button{
    font-family:"minimal1" ;
    font-weight: 900;
    padding: 2px;
    /* height:25px; */
    border-radius: 10px;
    color: #fff;
    background-color:#C063F9;
    border-style: solid;
    border-width: 0.5px;
}
.top_items {

    transform-style: preserve-3d;
    transform: perspective(1000px);
    color: #ffff;
    display: flex;
    font-family:"minimal1";
    list-style-type:none;
    text-decoration: none;
    /* justify-content: right; */
    font-size: 20px;
    gap:2vw;
    font-weight: 750;
    transition: transform 0.5s ease; 
    margin-right: 0.8vw;
    }
.top_items li:hover{
    transform: scale(1.2) translateZ(0);
    backface-visibility: hidden; 
    perspective: 5px;
    /* letter-spacing: 0.1vw; */
    /* transform: translateZ(35px); */
    /* font-size: large; */
    /* position:relative ; */
    /* top: 0px; */
    /* font-size: larger; */
    transition-duration: 0.5s;

}
#navitem{
    display: flex;
}
#navbar{
    animation: bgcolor linear;
    animation-timeline: scroll();
    backdrop-filter: blur(20px);
    height: 70px;
    background-color: rgba(200, 100, 100, 0.);
    /* text-align: left; */
    /* border-radius: 5px; */
    position: sticky;
    display: flex;
    top: 0;
    align-items: center;
    z-index: 10;
    justify-content: space-between;
    transition: background-color 0.3s ease-in-out;
    /* border-style: dotted; */
}
@keyframes bgcolor{
        to{background-color:#1b1a2b2e;}
}
#main_contentss{
    height: 77vh;
    justify-content: space-around;
    align-items: center;
    display: flex;
    gap:10vw;
    z-index: 1000;

}
.intro_text{
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -80px;

    text-align: center;
    font-family: "minimal2";
    /* margin-left: 5vw; */
    font-size: 12.5vh;
    color: white;
    /* background-color: #70161E; */
}
@keyframes fade-out{
    to{scale: 0.6;}}
.button_div{
    margin-top: 35px;
    display: flex;
    /* height: 10vh; */
    min-height: fit-content;
    /* background-color: #70161E; */
    max-height: fit-content;
    /* max-width: fit-content; */
    justify-content: center;
    align-items: center;
}
.down_arrow{
    margin-left: 5px;
    animation: down 2s infinite ease-in-out;
}
@keyframes down{
    from { transform: translateY(0px); } 
    50% { transform: translateY(5px); } 
    to { transform: translateY(0px); }
}
@keyframes showText {
    from { opacity: 0; }
    to { opacity: 1; }
}
.more_button {
    animation: down 2s infinite ease-in-out;
    padding: 5px 10px;
    border: 2px transparent;
    border-radius: 10px;
    background-color: #8B80E0;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    font-family: "minimal2";
    font-size: 37px;
    max-width: fit-content;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    color: white;
  }
  
  .more_button:before { 
    content: ""; 
    display: block; 
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap; 
    color: inherit; 
    font-size: inherit; /* Inherit font size from original text */
    line-height: inherit; /* Inherit line height from original text */
    transition: opacity 0.3s ease-in-out; /* Smooth transition on hover */
  }
  
  .more_button:after {
    /* font-size: 40px; */
    color:#EBA6A9;
    content: "Below";
    font-size: 41px; /* Adjust font size if needed */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .more_button:hover {
    cursor: pointer;
    color: transparent;
    padding: 15px 25px;
    border-color: #8B80E0;
  }
  
  .more_button:hover:before {
    opacity: 1; /* Fade out original content on hover */
  }
  
  .more_button:hover:after {
    opacity: 1;
    animation: showText 0.5s ease-in-out forwards;
  }
  
  @keyframes showText {
    from { opacity: 0; }
    to { opacity: 1; }
  }
#intro_text{
    margin-left: 90px;


    display: flex;
    /* justify-content: center; */
    /* text-align: center; */
    font-size: 30px;
    text-decoration:underline;
    text-decoration-color: #e762f8;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 10px;
}

#text_intro{
    color: #EBA6A9;
    font-weight: bold;
    
}
#intro_img{
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: 58px;
    animation-range-end: 500px;

    /* animation: bob 4s infinite ease-in-out; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* border-style: solid; */
    /* border-radius: 50%; */
    /* backdrop-filter: blur(100%),brightness(1%); */
    /* height: 30VH; */
    /* background-color: #8B80E0; */
    margin-right: 35px;
}
@keyframes fade-in{
    from{ scale: .5; opacity:0;}
    to{scale:1; opacity:1;}}
@keyframes bob {
    from { transform: translateY(0px); } 
    50% { transform: translateY(15px); } 
    to { transform: translateY(0px); } 
  }
#intro_img img{
    border-radius: 20%;
    /* background-color: black; */
    height: 65vh;
    /* margin-right: 30px; */
}
#intro_img img:hover{

}
#intro{
    color: white;
    margin-left: 20px;
    text-transform: capitalize;
    text-align: center;
    font-family: "minimal6";
    font-size: 26px;
    /* width: 50vw; */
    /* max-width: 75vw; */
    height: 90vh;
    align-items: center;
    justify-content: space-between;
    display: flex;

    /* margin: 70vh; */
    /* max-width: fit-content; */
    /* background-color:#ffff */
}
#INTRODUCTION{
    width: unset;
    max-width: 55vw;
}
#INRODUCTION pr{
    font-size: 10px;
}
.w2{
    color: #EBA6A9;
}
.home{
    transition: background-image 0.5s ease-in-out;
    background: linear-gradient(to right, #a01df1, #7700ff);
    /* background-image:url(/assests/img/vackground-com-6XNIVSDzA2g-unsplash.jpg) */
    /* display: inline; */
    z-index:-1;
}
/* .mode-btn{
    border-radius: 10px;
    padding: 2px;
    border-style:dashed;

} */
.mode-btn_dark {
    overflow: hidden;
    --duration: 6s;
    --easing: linear;
    --c-color-1: #06030a;
    --c-color-2: #000000;
    --c-color-3: #fff8ff;
    --c-color-4: #e4dfe2;
    --c-shadow: rgba(200, 14, 150, 0.5);
    --c-radial-inner: #a515ff;
    --c-radial-outer: #b872ff;
    transition: var(--c-color) 0.5s ease-in-out;
    transition: var(--c-color-1) 0.5s ease-in-out;
    transition: var(--c-color-2) 0.5s ease-in-out;
    transition: var(--c-color-3) 0.5s ease-in-out;
    transition: background 0.5s ease, color 0.5s ease;
    transition: var(--c-color-4) 0.5s ease-in-out;
    transition: 
    background 0.5s ease,
    box-shadow 0.5s ease,
    filter 0.5s ease;
      background: radial-gradient(
      circle,
      var(--c-radial-inner),
      var(--c-radial-outer) 80%
    );
    color: var(--c-color);
    box-shadow: 0 0 14px var(--c-shadow);
  
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    outline: none;
    position: relative;
    cursor: pointer;
    border: none;
    display: table;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: 900;
    font-size: 10px;
  }

  
  .mode-btn_dark .wrapper {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    overflow: hidden;
    min-width: 25px;
    padding: 12px 0;
  }
  .mode-btn_dark .wrapper .circle {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    /* border-radius: 50%; */
    filter: blur(var(--blur, 8px));
    background: var(--background, transparent);
    transform: translate(var(--x, 0), var(--y, 0)) translateZ(0);
    animation: var(--animation, none) var(--duration) var(--easing) infinite;
  }
  
  .mode-btn_dark .wrapper .circle.circle-1,
  .mode-btn_dark .wrapper .circle.circle-9,
  .mode-btn_dark .wrapper .circle.circle-10 {
    --background: var(--c-color-4);
  }
  
  .mode-btn_dark .wrapper .circle.circle-3,
  .mode-btn_dark .wrapper .circle.circle-4 {
    --background: var(--c-color-2);
    --blur: 14px;
  }
  
  .mode-btn_dark .wrapper .circle.circle-5,
  .mode-btn_dark .wrapper .circle.circle-6 {
    --background: var(--c-color-3);
    --blur: 16px;
  }
  
  .mode-btn_dark .wrapper .circle.circle-2,
  .mode-btn_dark .wrapper .circle.circle-7,
  .mode-btn_dark .wrapper .circle.circle-8,
  .mode-btn_dark .wrapper .circle.circle-11,
  .mode-btn_dark .wrapper .circle.circle-12 {
    --background: var(--c-color-1);
    --blur: 12px;
  }
  
  .mode-btn_dark .wrapper .circle.circle-1 {
    --x: 0;
    --y: -40px;
    --animation: circle-1;
  }
  
  .mode-btn_dark .wrapper .circle.circle-2 {
    --x: 92px;
    --y: 8px;
    --animation: circle-2;
  }
  
  .mode-btn_dark .wrapper .circle.circle-3 {
    --x: -12px;
    --y: -12px;
    --animation: circle-3;
  }
  
  .mode-btn_dark .wrapper .circle.circle-4 {
    --x: 80px;
    --y: -12px;
    --animation: circle-4;
  }
  
  .mode-btn_dark .wrapper .circle.circle-5 {
    --x: 12px;
    --y: -4px;
    --animation: circle-5;
  }
  
  .mode-btn_dark .wrapper .circle.circle-6 {
    --x: 56px;
    --y: 16px;
    --animation: circle-6;
  }
  
  .mode-btn_dark .wrapper .circle.circle-7 {
    --x: 8px;
    --y: 28px;
    --animation: circle-7;
  }
  
  .mode-btn_dark .wrapper .circle.circle-8 {
    --x: 28px;
    --y: -4px;
    --animation: circle-8;
  }
  
  .mode-btn_dark .wrapper .circle.circle-9 {
    --x: 20px;
    --y: -12px;
    --animation: circle-9;
  }
  
  .mode-btn_dark .wrapper .circle.circle-10 {
    --x: 64px;
    --y: 16px;
    --animation: circle-10;
  }
  
  .mode-btn_dark .wrapper .circle.circle-11 {
    --x: 4px;
    --y: 4px;
    --animation: circle-11;
  }
  
  .mode-btn_dark .wrapper .circle.circle-12 {
    --blur: 14px;
    --x: 52px;
    --y: 4px;
    --animation: circle-12;
  }
  
  @keyframes circle-1 {
    33% {
      transform: translate(0px, 6px) translateZ(0);
    }
  
    66% {
      transform: translate(12px, 6px) translateZ(0);
    }
  }
  
  @keyframes circle-2 {
    33% {
      transform: translate(10px, -1px) translateZ(0);
    }
  
    66% {
      transform: translate(22px, -18px) translateZ(0);
    }
  }
  
  @keyframes circle-3 {
    33% {
      transform: translate(20px, 2px) translateZ(0);
    }
  
    66% {
      transform: translate(12px, 4px) translateZ(0);
    }
  }
  
  @keyframes circle-4 {
    33% {
      transform: translate(6px, 2px) translateZ(0);
    }
  
    66% {
      transform: translate(2px, 8px) translateZ(0);
    }
  }
  
  @keyframes circle-5 {
    33% {
      transform: translate(24px, 8px) translateZ(0);
    }
  
    66% {
      transform: translate(10px, 2px) translateZ(0);
    }
  }
  
  @keyframes circle-6 {
    33% {
      transform: translate(28px, 6px) translateZ(0);
    }
  
    66% {
      transform: translate(26px, 6px) translateZ(0);
    }
  }
  
  @keyframes circle-7 {
    33% {
      transform: translate(8px, 8px) translateZ(0);
    }
  
    66% {
      transform: translate(10px, 6px) translateZ(0);
    }
  }
  
  @keyframes circle-8 {
    33% {
      transform: translate(32px, 1px) translateZ(0);
    }
  
    66% {
      transform: translate(16px, 10px) translateZ(0);
    }
  }
  
  @keyframes circle-9 {
    33% {
      transform: translate(20px, 2px) translateZ(0);
    }
  
    66% {
      transform: translate(20px, 5px) translateZ(0);
    }
  }
  
  @keyframes circle-10 {
    33% {
      transform: translate(28px, 10px) translateZ(0);
    }
  
    66% {
      transform: translate(10px, 18px) translateZ(0);
    }
  }
  
  @keyframes circle-11 {
    33% {
      transform: translate(4px, 1px) translateZ(0);
    }
  
    66% {
      transform: translate(18px, 5px) translateZ(0);
    }
  }
  
  @keyframes circle-12 {
    33% {
      transform: translate(56px, 0px) translateZ(0);
    }
  
    66% {
      transform: translate(20px, 12px) translateZ(0);
    }
  }
  
/* .toggle-button {
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border: none;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    transition: background-color 0.3s;
  } */
/* 
  .toggle-circle {
    width: 26px;
    height: 26px;
    background-color: whitesmoke;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.3s;
  }

  .toggle-button.active {
    background-color: #4caf50;
  }

  .toggle-button.active .toggle-circle {
    left: 32px;
  } */
#button-item{
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
}
#connect_text{
        font-size: 20px;
}
#w1 {
    
    
    color: #EBA6A9;
}
#pfp_img{
    z-index: 100;
    background-size: 100% 100%; /* Initial background size */
    /* transition: background-size 0.5s ease-in; */
    /* transition: background 0.5s ease-in-out; */
    background: linear-gradient(to bottom, #fc00ff, #00dbde);
    background-position: 100% 0;
    transition: background-size 1.5s ease-in-out;
/* background: linear-gradient(to right, #434343, #000000); */


    /* background-color: #a515ff; */
    /* animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -80px; */
    /* filter: blur(1px); */
    /* opacity: 0; */
    border-style: solid;
    height: 45vh;
    /* margin-right: 10vw; */
    border-color: #8B80E0;
    border-width: 2px;
    border-radius: 50%;
    opacity: 1;
    /* transition: opacity 3s ease-in-out; */
}

#pfp {
    /* transition: background 0.5s ease-in-out; */

    /* background-color: #a17fe0; */
  }
  svg{
    /* background-color: #a17fe0; */
  }
#pfp_img:hover{
    transition: box-shadow 0.5s ease;
    /* box-shadow: 0 0 150px var(--clr); */
    /* background: var(--clr); */
    /* border-style: dashed; */
    /* height: 47vh; */
    /* border-radius: 50%; */
    /* transition-duration: 5s; */
  }
footer{
    display: flexbox;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 25px;
    bottom: 9.7px;
    left: 45%;
    font-size:15px;
}
#brain{
    height: 45px;
}
#brain_res{
    height: 45px;
}
#footer_images_res{
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}
.social{
    display: none;
}
#footer_images{
    display: flex;
    justify-content: center;
    align-items: center;
}
#brain:hover{
    transition-duration: 1s;
    opacity: 1;
}
#sm_links:hover{
    border-style: dotted;
    border-radius: 120px;
    transition-duration: 2s;
}
.tohide{
    display: none;
}
#sm_logo{
    /* padding: 5%; */
    /* gap: 5vw; */
    border-radius: 50%;
    /* border-color: #4E8098; */
    /* background-color: #fff; */
    /* border-width: 3px; */
    display: flex;
    justify-content: space-evenly;
    height: 48px;
    /* padding-inline: 3px; */
    /* position: relative; */
}
#sm_logo1{
    border-color: #4E8098;
    border-width: 3px;
    /* display: flex; */
    /* justify-content: space-evenly; */
    height: 45px;
    /* padding-inline: 3px; */
    margin-left: 150px;
    cursor:wait;
    position: fixed;
    opacity: 0;
    /* position: relative; */
}
#text_socials{
    display: flex;
    margin-bottom: 30vh;
    margin-left: 14.5vw;
    /* text-align: center; */
    font-size: 25px;
    font-family: "minimal7";
    color: #83858C
}
#menu{
    /* position: fixed; */

    /* display: none; */
}
.cherru_home{
    background-image:url(/assests/img/nice_hearts_background_overlay_HD_video_overlay.gif) ;
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-position: 60%; */

}
.cherru_home img{
    animation: beat 0.3s infinite alternate;
    height: 50vh;
}
@keyframes beat{
	to { transform: scale(1.1); }
}
/* .cherru_home img:hover{
    height: 60vh;
    transition-duration: 2s;
} */
.greetings{
    flex-wrap:wrap;
    flex-direction: column;
    color:#EBA6A9;
    /* background-repeat: no-repeat; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "minimal2";
    font-size: 60px;
    /* font-weight: 900; */
    /* max-width: fit-content; */
    height:100vh;

}
.flower{
    display: flex;
    margin-top: 10px;
    font-size: 50px;
}
.flwbut{
    background: linear-gradient(-45deg, #59C173, #a17fe0, #5d26c1);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;   
    color: #fff;
    border-width:  2px;
	/* border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1; */
	/* animation: 5s rotate linear infinite; */
    max-height: fit-content;
    border-radius: 10px;
    padding: 10px;
    border-style: none;
    border-style: solid;
    background-color:#8B80E0;
    font-size: 35px;
    font-family: "minimal2";
    cursor: pointer;
    position: relative;
    border-radius: 40px;
    box-shadow: #7248D6;
    /* animation: down1 0.5s infinite ease-in-out; */
    
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes down1{
    from { transform: translateY(0px); } 
    50% { transform: translateY(100px); } 
    to { transform: translateY(0px); }
}
.flower_home{
    background-image: url(/assests/img/Best\ Animations.gif);
    height: 100vh;


}
.contain_flw{
    /* max-width: fit-content; */
    /* max-height: fit-content; */
    display: flex;
    justify-content:center;
    align-items:baseline;
}
.flowerr{
    height: 80vh;
    margin-top: 20vh;
}
.flowerr1{
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
    height: 80vh;
    margin-top: 20vh;
}
.hand{
    /* width: 20vw; */
    height: 35.1vh;
    /* margin-bottom: 0px; */
    transform: scale(2);
    margin-bottom: calc(-1 * (height * 9));
    /* margin-top:50px;  */
    /* margin-top: 0px; */
}
.menu_list{
  display: none;
}
#navbar i{
    display: none;
}

@media only screen and (max-width:600px){
  #navbar i{
      display: flex;
      /* opacity: 0; */
  }
  html{
    overflow-x: hidden;
  }
  #cursor_bg{
    display: none;
  }
    .mode-btn_dark{
        display: none;
    }
    .home{
        overflow-x:hidden;
    }
    svg {
        width: 100%; /* Limit the width to fit the screen */
        height: auto; /* Maintain aspect ratio */
    }

    path {
        transform: scale(0); /* Optional: Scale down the path */
        transform-origin: center; /* Ensure scaling happens from the center */
    }
    .str_holder{
        visibility: hidden;
        opacity: 0;
        display: none;
    }
    .menu_list{
        display: flex;
        font-family: "minimal1";
        background-color: #860bfadf;
        color:#FFA9D7;
        position: absolute;
        border-radius: 20px;
        /* border-top: none; */
        font-size: 15px;
        height: 350px;
        top: 5%;
        right:-50.5vw;
        backdrop-filter: blur(1000px);
        flex-direction: column;
        /* z-index:-10; */
        align-items: center;
        width: 50vw;
        gap: 25px;

        justify-content: center;
    }
    #navbar i{
        /* display: block; */
        font-weight: 900;
        font-size: 40px;
        position: absolute;
        right: 0;
        color: #EBA6A9;
        /* z-index:-1; */
    }
    .menu_list i{
        top:2%;
        right:5%;
        border-radius: 50%;
        background-color: #45018ac5;
        position: absolute;

    }
    .sm_linksmedia{
        /* justify-content: center; */
        /* align-items: center; */
        border-color: #4E8098;
        border-width: 3px;
       display: flex;
       /* justify-content: space-between; */
       height: 45px;
       /* padding-inline: 3px; */
    /* position: relative; */
    }
    #main_contentss{
        height: 100vh;
        gap: 50px;
        /* padding: 10px; */
        /* margin: 10px; */
        flex-wrap:wrap;
        justify-content: space-between;
        align-items: center;
        display: flex;
    
    }
    .wrapper_footer_home pre{
        color: white;
        font-size: 10px;
        /* display: flex;
        justify-content: center;
        align-items: center; */
        /* margin: auto; */
    }
    .social{
        gap: 1.5VW;
        max-width:50vw;
        padding:5px;
        border-radius: 20px;
        max-height: 25vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border-style:solid;
        border-color: #1b1a2ea9;
        /* margin-top: 60px; */
        background-color: #1b1a2b2e;
    }
    #sm_logo{
        display: none;
        /* margin-bottom: 50%; */
        /* display: none;  */
        /* border-color: #4E8098;
        border-width: 3px;
        display: flex;
        justify-content: space-evenly;
        height: 35px;
        padding-inline: 3px; */
        /* position: relative; */
    }
    #INTRODUCTION{
        display: flex;
        /* flex-wrap: wrap; */
        justify-content: center;
        align-items: center;
        max-width: 100vw !important;
        /* width: 100%; */
    }
    #intro{
        flex-wrap: wrap;
        margin-left: 0px;
        justify-content:center;
        color: white;
        text-transform: capitalize;
        /* text-align: center; */
        font-family: "minimal6";
        font-size: 20px;
        /* width: 50vw; */
        /* max-width: 75vw; */
        height: 80vh;
        /* align-items: center; */
        /* justify-content: space-between; */
        display: flex;
        /* margin: 70vh; */
        /* max-width: fit-content; */
        /* background-color:#ffff */
    }
    #intro_text{
        margin-left: 0px;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 24px;
        text-decoration:underline;
        text-decoration-color: #e762f8;
        text-decoration-thickness: 1.5px;
        text-underline-offset: 10px;
    }
    #main_contentss{
        height: 80vh;
        justify-content: space-evenly;
        align-items:flex-start;
        display: flex;
        margin-top: 30px;
    
    }
    .wrapper_footer_home{

        /* padding: 0.5%; */
        margin-bottom: 0px;
        backdrop-filter: blur(1000px);
        border-left: none;
        border-right: none;
        background-color:#1b1a2ea9;
        border-width:0.5PX;
        border-radius: 2PX;
        position: relative;
        display: flex;
        height: 5.5vh;
        justify-content:center !important;
        align-items: center;
    
    }
    #intro_img{
        display: none;
    }

    .intro_text{
        text-align: center;
        font-family: "minimal2";
        margin-left: 0vw;
        font-size: 12.5vh;
        color: white;
        /* background-color: #70161E; */
        /* margin-top: 0vh; */
        text-align: center;
        font-family:"minimal2";
        /* margin-left: 5vw; */
        font-size: 8.5vh;
        color: white;
    }
    .intro_text:hover{


    }


    #pfp_img{
        margin-right: 0px;
        display:flex;
        /* display: inline; */
        height:15rem;
        /* position:; */
        /* top: 0.5vh; */
        /* left: 0.5vw; */
        border-radius: 50%;
        border-width: 1.5px;
        border-style: dotted;

        /* border-radius: 30px; */}
    #pfp_img:hover{
        height: 15.2rem;
    }
    #top_name{
        font-size:35px;
        /* position: relative; */
        font-weight: 900;
        margin-left: 5px;
        margin-top: 5px;
        color: #FFA9D7;
    }
    #sm_links_res{
        display: none;
    }
    #Copyright_text{
        margin-right: 0px;
        display: none;
    }
    #brain{
        height: 30px !important;
        margin-left: 20%;
        /* margin-right: 50%; */
    }
    #navbar{
        /* border-top: none; */
        /* border-left: none; */
        /* border-radius: 5px; */
        /* width: 100vw; */
        border-bottom: #4E8098;
        /* border-radius: 10px; */
        backdrop-filter: blur(20px);
        height: 60px;
        background-color: rgba(200, 100, 100, 0.);
        /* text-align: left; */
        /* border-radius: 5px; */
        position: sticky;
        display: flex;
        top: 0;
        align-items: center;
        z-index: 10;
        /* justify-content: space-between; */
        /* height: 7vh;
        background:linear-gradient(90deg,#0F2027,#203A43,#2C5364);
        text-align: left;
        border-radius:0px;
        position: relative; */
    }
    #navitem{
        display: none;
    }
    /* .top_items  {
        display: none;
    } */
    ::-webkit-scrollbar {
        background-color:#EBA6A9;
        width: 7px; 
      }
      ::-webkit-scrollbar-thumb {
        background-color:#48297f; 
        border-radius: 40px;
      }


    /* .top_items{
        visibility: 0px;
    }
    #main_contents{
        font-size: 65px;
        position: relative;
        top: 8rem;
        left: 10px;
    }
    #w3{
        font-size: 35px;
        position: absolute;
        display: flex;
        top:18.5rem;
        left: -7.1rem;
        text-align: left;
        justify-content: space-evenly;
        width: 25rem;
    }
    #sm_links{
        border-style: dashed;
        border-color: #9f8999;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items:center;
        border-width: 0.2vw;
        gap: 0.5vw;
        padding: 0.5vw;
        margin-top: auto;
        min-width: fit-content;
        max-width: fit-content;
        margin-bottom: 15vh;
        margin-left: 12vh;
    }
    #text_socials{
        position: absolute;
        text-align: center;
        font-size: 25px;
        font-family: "minimal7";
        color: #83858C;
    }
    #about_me{
        border-style: none;
        border-color: #E2DE84;
        border-radius: 30px;
        font-size: 30px;
        font-family: "minimal2";
        background-color: #8B80E0;
        color: #FFA9D7;
        position:static;
        height: 40px;
        width: 8.5rem;
    }
    #me_button{
        position: relative;
        display: flex;

        justify-content: space-evenly;

    }
    #about_me:hover{
        border-style: dashed;
        border-color: yellow;
        border-radius: 30px;
        font-size: 30px;
        border-width: 1px;
        font-family: "minimal2";
        background-color: #8B80E0;
        color: #FFA9D7;
        position: absolute;
        left: 12rem;
        top: 30.3rem;
        height: 40px;
        width: 8.5rem;

    }
    footer{
        display: flexbox;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 25px;
        bottom: 0vh;
        left: 25%;
        font-size:15px;
    }
    #w4{
        display: none;
    }
    #tag_line{
        display: none;
    }
    
    #body{
        height: 100vh;
        width: 100vw;
        border-radius: 10px;
    }
    navbar i{
        display: block;
    } */
}
#intro{

    display: flex;

}
#download_div a{
    color: white;
    display: flex;
    align-items: center;
    gap: 2px;
}
#download_div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    font-size: 10vh;
    margin-top: 7vh;
}
#down_button{
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -125px;
    /* max-width: fit-content; */
    max-height: fit-content;
    font-size: 3.5vh;
    border-radius: 15px;
    padding: 5px;
    /* width: 40vh; */
    border-style: dotted;
    border-width: 2px;
    color: #70161f;
    border-color: #536976;
    background-color: #7248D6;
    font-family:"minimal6";
    font-weight: 900;
}
#down_button a{
    color: #EBA6A9;
    font-weight: 900;
}
#down_button:hover{
    max-width:max-content;
    letter-spacing: 0.1em;
    transition-duration: 0.4s;
    /* border-style: solid; */
    /* border-width: 3px; */
    /* width: 30vh; */
    /* transition-timing-function: ease-in-out; */
}
#down_logo{
    height: 24px;
    align-items: center;
    justify-content: center;
    width: 24px;}
#resume_container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#resume{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1300px;
    margin-top: auto;
    /* border-width: 5px; */
    /* border-style: solid; */
    border-radius: 20px;
}
#resume_container{    
    box-shadow: 0 0 85px var(--clr);
    background: var(--clr);}
.resume_home{
    height: fit-content;
    background-image: url(/assests/img/milad-fakurian-bexwsdM5BCw-unsplash.jpg)
    /* background-repeat:unset; */
}
.wrapper_footer_home{
    backdrop-filter: blur(1000px);
    height: 55px;
    /* border-left: none; */
    /* border-right: none; */
    background-color:#1b1a2ea9;
    /* border-width:0.5PX; */
    /* border-radius: 2PX; */
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#Copyright_text{
    color: white;
    font-size:15px;
    font-family: minimal1;
    margin-right: 5px;
}
.wrapper_footer_home pre{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.wrapper_footer_res{
    background-color: #5e3ba95f;
    backdrop-filter: blur(1000px);
    border-left: none;
    border-right: none;
    border-width:0.5PX;
    border-radius: 2PX;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    margin-top:10vh;
}
#brain{
    opacity: 0;
    height: 35px;
}
#brain:hover{
    opacity: 1;
}
#ani{
    height:50vh;
    

}
.footer_images{
    height: 1px;
    opacity: 1;
    position: absolute;
    top: 50%; 
    left: 48.5%; 
    transform: translate(-50%, -50%); 
    display: flex;
    align-items: center;
}
.wrapper_footer_res pre{
    color: white;
}
#sm_links_res{
    margin-left: 5px;
    /* margin-top: 1PX; */
    /* height: 50px; */
    gap: 0.4vw;
    display: flex;
    /* padding: 4px; */
    /* border-bottom:none; */
    /* max-width: fit-content; */
    /* border-top: #4286e0; */
    /* border-top-style: solid; */
    /* border-bottom: none; */
    /* border-style: dashed; */
    /* border-radius: 20px; */
    /* align-items: center; */
    /* justify-content: center; */
}
/* #text_footer{
    color: #70161E;
    display: flex;
    justify-content: center;
    align-items:center;
} */