* {
    padding: 0;
    margin: 0;
}
::-webkit-scrollbar {
    background-color:#EBA6A9;
    width: 7px; 
  }
  ::-webkit-scrollbar-thumb {
    background-color:#48297f; 
    border-radius: 40px;
  }
html{
    scroll-behavior: smooth;
}
@font-face {
    font-family: "minimal6";
    src: url(/assests/fonts/Nunito-Regular.ttf);
}
@font-face{
    font-family: "minimal3";
    src: url(/assests/fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: "minimal7";
    src: url(/assests/fonts/BandarRegular.ttf);
}
@font-face {
    font-family: "minimal2";
    src: url(/assests/fonts/Simple\ Minimalist.otf);
}
@font-face {
    font-family: "minimal5";
    src: url(assests/fonts/BricklayDemoRegular.ttf);
}
@font-face{
    font-family: "minimal4";
    src: url(/assests/fonts/Montserrat-Thin.ttf);
}
@font-face {
    font-family: "minimal1";
    src: url(/assests/fonts/Montserrat-Light.ttf);
}
a{
    text-decoration: none;
}
#top_name{
    font-weight: 900;
    display: flex;
    font-family: "minimal5";
    text-align: left;
    font-size: 3vw;
    max-width: fit-content;
    min-width: fit-content;
    color: #EBA6A9;;
    margin-left: 0.5vw;
}
#Home{
    gap: 0.2vw;
    display: flex;
    color: #ffff;
}
#About{
    gap: 0.2vw;
    display: flex;
    color: #ffff;
}

#Resume{
    gap: 0.2vw;
    display: flex;
    color: #ffff;
}
#Projects{
    gap: 0.2vw;
    display: flex;
    color: #ffff;
}
.top_items {

    transform-style: preserve-3d;
    transform: perspective(1000px);
    color: #ffff;
    display: flex;
    font-family:"minimal1";
    list-style-type:none;
    text-decoration: none;
    /* justify-content: right; */
    font-size: 20px;
    gap:2vw;
    font-weight: 750;
    transition: transform 0.5s ease; 
    margin-right: 0.8vw;
    }
.top_items li:hover{
    transform: scale(1.2) translateZ(0);
    backface-visibility: hidden; 
    perspective: 5px;
    /* letter-spacing: 0.1vw; */
    /* transform: translateZ(35px); */
    /* font-size: large; */
    /* position:relative ; */
    /* top: 0px; */
    /* font-size: larger; */
    transition-duration: 0.5s;

}
#navbar{
    animation: bgcolor linear;
    animation-timeline: scroll();
    backdrop-filter: blur(20px);
    height: 70px;
    background-color: rgba(200, 100, 100, 0.);
    /* text-align: left; */
    /* border-radius: 5px; */
    position: sticky;
    display: flex;
    top: 0;
    align-items: center;
    z-index: 10;
    justify-content: space-between;
    transition: background-color 0.3s ease-in-out;
    /* border-style: dotted; */
}
@keyframes bgcolor{
        to{background-color:#1b1a2b2e;}
}
#main_contentss{
    height: 90vh;
    justify-content: space-between;
    align-items: center;
    display: flex;

}
.intro_text{
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -80px;

    text-align: center;
    font-family: "minimal2";
    margin-left: 5vw;
    font-size: 12.5vh;
    color: white;
    /* background-color: #70161E; */
}
@keyframes fade-out{
    to{scale: 0.6;}}
.button_div{
    margin-top: 35px;
    display: flex;
    /* height: 10vh; */
    min-height: fit-content;
    /* background-color: #70161E; */
    max-height: fit-content;
    /* max-width: fit-content; */
    justify-content: center;
    align-items: center;
}
.down_arrow{
    margin-left: 5px;
    animation: down 2s infinite ease-in-out;
}
@keyframes down{
    from { transform: translateY(0px); } 
    50% { transform: translateY(5px); } 
    to { transform: translateY(0px); }
}
@keyframes showText {
    from { opacity: 0; }
    to { opacity: 1; }
}
.more_button {
    animation: down 2s infinite ease-in-out;
    padding: 5px 10px;
    border: 2px transparent;
    border-radius: 10px;
    background-color: #8B80E0;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    font-family: "minimal2";
    font-size: 37px;
    max-width: fit-content;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    color: white;
  }
  
  .more_button:before { 
    content: ""; 
    display: block; 
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap; 
    color: inherit; 
    font-size: inherit; /* Inherit font size from original text */
    line-height: inherit; /* Inherit line height from original text */
    transition: opacity 0.3s ease-in-out; /* Smooth transition on hover */
  }
  
  .more_button:after {
    /* font-size: 40px; */
    color:#EBA6A9;
    content: "Below";
    font-size: 41px; /* Adjust font size if needed */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .more_button:hover {
    cursor: pointer;
    color: transparent;
    padding: 15px 25px;
    border-color: #8B80E0;
  }
  
  .more_button:hover:before {
    opacity: 1; /* Fade out original content on hover */
  }
  
  .more_button:hover:after {
    opacity: 1;
    animation: showText 0.5s ease-in-out forwards;
  }
  
  @keyframes showText {
    from { opacity: 0; }
    to { opacity: 1; }
  }
#intro_text{
    margin-left: 90px;


    display: flex;
    /* justify-content: center; */
    /* text-align: center; */
    font-size: 30px;
    text-decoration:underline;
    text-decoration-color: #e762f8;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 10px;
}

#text_intro{
    color: #EBA6A9;
    font-weight: bold;
    
}
#intro_img{
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: 58px;
    animation-range-end: 500px;

    /* animation: bob 4s infinite ease-in-out; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* border-style: solid; */
    /* border-radius: 50%; */
    /* backdrop-filter: blur(100%),brightness(1%); */
    /* height: 30VH; */
    /* background-color: #8B80E0; */
    margin-right: 35px;
}
@keyframes fade-in{
    from{ scale: .5; opacity:0;}
    to{scale:1, opacity:1;}}
@keyframes bob {
    from { transform: translateY(0px); } 
    50% { transform: translateY(15px); } 
    to { transform: translateY(0px); } 
  }
#intro_img img{
    border-radius: 20%;
    /* background-color: black; */
    height: 65vh;
    /* margin-right: 30px; */
}
#intro_img img:hover{

}
#intro{
    color: white;
    margin-left: 20px;
    text-transform: capitalize;
    text-align: center;
    font-family: "minimal6";
    font-size: 26px;
    /* width: 50vw; */
    /* max-width: 75vw; */
    height: 90vh;
    align-items: center;
    justify-content: space-between;
    display: flex;

    /* margin: 70vh; */
    /* max-width: fit-content; */
    /* background-color:#ffff */
}
#INTRODUCTION{
    width: unset;
    max-width: 55vw;
}
#INRODUCTION pr{
    font-size: 10px;
}
.w2{
    color: #EBA6A9;
}
.home{
    background-image:url(/assests/img/vackground-com-6XNIVSDzA2g-unsplash.jpg)
    /* display: inline; */
}
.home {

}
#connect_text{
        font-size: 20px;
}
#w1 {
    
    
    color: #EBA6A9;
}
.pfp_img{
    /* animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -80px; */
    /* filter: blur(1px); */
    border-style: solid;
    height: 45vh;
    margin-right: 10vw;
    border-color: #8B80E0;
    border-width: 2px;
    border-radius: 50%;}
.pfp_img:hover{
    box-shadow: 0 0 205px var(--clr);
    background: var(--clr);
    /* border-style: dashed; */
    height: 47vh;
    border-radius: 50%;
    transition-duration: 0.5s;
  }
footer{
    display: flexbox;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 25px;
    bottom: 9.7px;
    left: 45%;
    font-size:15px;
}
#brain{
    height: 45px;
}
#brain_res{
    height: 45px;
}
#footer_images_res{
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}
.social{
    display: none;
}
#footer_images{
    display: flex;
    justify-content: center;
    align-items: center;
}
#brain:hover{
    transition-duration: 1s;
    opacity: 1;
}
#sm_links:hover{
    border-style: dotted;
    border-radius: 120px;
    transition-duration: 2s;
}
.tohide{
    display: none;
}
#sm_logo{
    border-color: #4E8098;
    border-width: 3px;
    display: flex;
    justify-content: space-evenly;
    height: 45px;
    padding-inline: 3px;
    /* position: relative; */
}
#sm_logo1{
    border-color: #4E8098;
    border-width: 3px;
    /* display: flex; */
    /* justify-content: space-evenly; */
    height: 45px;
    /* padding-inline: 3px; */
    margin-left: 150px;
    cursor:wait;
    position: fixed;
    opacity: 0;
    /* position: relative; */
}
#sm_logo:hover{
    box-shadow: 0 0 85px var(--clr);
    background: var(--clr);
    transition-duration: 0.3s;
    transform: translateY(-5px);
}
#text_socials{
    display: flex;
    margin-bottom: 30vh;
    margin-left: 14.5vw;
    /* text-align: center; */
    font-size: 25px;
    font-family: "minimal7";
    color: #83858C
}
#menu{
    display: none;
}
.cherru_home{
    background-image:url(/assests/img/nice_hearts_background_overlay_HD_video_overlay.gif) ;
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-position: 60%; */

}
.cherru_home img{
    animation: beat 0.3s infinite alternate;
    height: 50vh;
}
@keyframes beat{
	to { transform: scale(1.1); }
}
/* .cherru_home img:hover{
    height: 60vh;
    transition-duration: 2s;
} */
.greetings{
    flex-wrap:wrap;
    flex-direction: column;
    color:#EBA6A9;
    /* background-repeat: no-repeat; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "minimal2";
    font-size: 60px;
    /* font-weight: 900; */
    /* max-width: fit-content; */
    height:100vh;

}
.flower{
    display: flex;
    margin-top: 10px;
    font-size: 50px;
}
.flwbut{
    background: linear-gradient(-45deg, #59C173, #a17fe0, #5d26c1);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;   
    color: #fff;
    border-width:  2px;
	/* border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1; */
	/* animation: 5s rotate linear infinite; */
    max-height: fit-content;
    border-radius: 10px;
    padding: 10px;
    border-style: none;
    border-style: solid;
    background-color:#8B80E0;
    font-size: 35px;
    font-family: "minimal2";
    cursor: pointer;
    position: relative;
    border-radius: 40px;
    box-shadow: #7248D6;
    /* animation: down1 0.5s infinite ease-in-out; */
    
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes down1{
    from { transform: translateY(0px); } 
    50% { transform: translateY(100px); } 
    to { transform: translateY(0px); }
}
.flower_home{
    background-image: url(/assests/img/Best\ Animations.gif);
    height: 100vh;


}
.contain_flw{
    /* max-width: fit-content; */
    /* max-height: fit-content; */
    display: flex;
    justify-content:center;
    align-items:baseline;
}
.flowerr{
    height: 80vh;
    margin-top: 20vh;
}
.flowerr1{
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
    height: 80vh;
    margin-top: 20vh;
}
.hand{
    /* width: 20vw; */
    height: 35.1vh;
    /* margin-bottom: 0px; */
    transform: scale(2);
    margin-bottom: calc(-1 * (height * 9));
    /* margin-top:50px;  */
    /* margin-top: 0px; */
}

@media only screen and (max-width:600px){
    .sm_linksmedia{
        /* justify-content: center; */
        /* align-items: center; */
        border-color: #4E8098;
        border-width: 3px;
       display: flex;
       /* justify-content: space-between; */
       height: 45px;
       /* padding-inline: 3px; */
    /* position: relative; */
    }
    #main_contentss{
        height: 100vh;
        gap: 50px;
        /* padding: 10px; */
        /* margin: 10px; */
        flex-wrap:wrap;
        justify-content: space-between;
        align-items: center;
        display: flex;
    
    }
    #menu{
        display: block;
        font-weight: 900;
    }
    .wrapper_footer_home pre{
        color: white;
        font-size: 10px;
        /* display: flex;
        justify-content: center;
        align-items: center; */
        /* margin: auto; */
    }
    .social{
        gap: 1.5VW;
        max-width:50vw;
        padding:5px;
        border-radius: 20px;
        max-height: 25vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border-style:solid;
        border-color: #1b1a2ea9;
        /* margin-top: 60px; */
        background-color: #1b1a2b2e;
    }
    #sm_logo{
        display: none;
        /* margin-bottom: 50%; */
        /* display: none;  */
        /* border-color: #4E8098;
        border-width: 3px;
        display: flex;
        justify-content: space-evenly;
        height: 35px;
        padding-inline: 3px; */
        /* position: relative; */
    }
    #INTRODUCTION{
        display: flex;
        /* flex-wrap: wrap; */
        justify-content: center;
        align-items: center;
        max-width: 100vw !important;
        /* width: 100%; */
    }
    #intro{
        flex-wrap: wrap;
        margin-left: 0px;
        justify-content:center;
        color: white;
        text-transform: capitalize;
        /* text-align: center; */
        font-family: "minimal6";
        font-size: 20px;
        /* width: 50vw; */
        /* max-width: 75vw; */
        height: 80vh;
        /* align-items: center; */
        /* justify-content: space-between; */
        display: flex;
        /* margin: 70vh; */
        /* max-width: fit-content; */
        /* background-color:#ffff */
    }
    #intro_text{
        margin-left: 0px;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 24px;
        text-decoration:underline;
        text-decoration-color: #e762f8;
        text-decoration-thickness: 1.5px;
        text-underline-offset: 10px;
    }
    #main_contentss{
        height: 80vh;
        justify-content: space-evenly;
        align-items:flex-start;
        display: flex;
        margin-top: 30px;
    
    }
    .wrapper_footer_home{

        /* padding: 0.5%; */
        margin-bottom: 0px;
        backdrop-filter: blur(1000px);
        border-left: none;
        border-right: none;
        background-color:#1b1a2ea9;
        border-width:0.5PX;
        border-radius: 2PX;
        position: relative;
        display: flex;
        height: 5.5vh;
        justify-content:center !important;
        align-items: center;
    
    }
    #intro_img{
        display: none;
    }

    .intro_text{
        text-align: center;
        font-family: "minimal2";
        margin-left: 0vw;
        font-size: 12.5vh;
        color: white;
        /* background-color: #70161E; */
        /* margin-top: 0vh; */
        text-align: center;
        font-family:"minimal2";
        /* margin-left: 5vw; */
        font-size: 8.5vh;
        color: white;
    }
    .intro_text:hover{


    }


    .pfp_img{
        margin-right: 0px;
        display:flex;
        /* display: inline; */
        height:15rem;
        /* position:; */
        /* top: 0.5vh; */
        /* left: 0.5vw; */
        border-radius: 50%;
        border-width: 1.5px;
        border-style: dotted;

        /* border-radius: 30px; */}
    .pfp_img:hover{
        height: 15.2rem;
    }
    #top_name{
        font-size:35px;
        /* position: relative; */
        font-weight: 900;
        margin-left: 5px;
        margin-top: 5px;
        color: #FFA9D7;
    }
    #sm_links_res{
        display: none;
    }
    #Copyright_text{
        margin-right: 0px;
        display: none;
    }
    #brain{
        height: 30px !important;
        margin-left: 20%;
        /* margin-right: 50%; */
    }
    #navbar{
        /* border-top: none; */
        /* border-left: none; */
        /* border-radius: 5px; */
        /* width: 100vw; */
        border-bottom: #4E8098;
        /* border-radius: 10px; */
        backdrop-filter: blur(20px);
        height: 60px;
        background-color: rgba(200, 100, 100, 0.);
        /* text-align: left; */
        /* border-radius: 5px; */
        position: sticky;
        display: flex;
        top: 0;
        align-items: center;
        z-index: 10;
        /* justify-content: space-between; */
        /* height: 7vh;
        background:linear-gradient(90deg,#0F2027,#203A43,#2C5364);
        text-align: left;
        border-radius:0px;
        position: relative; */
    }
    #navitem{
        display: none;
    }
    /* .top_items  {
        display: none;
    } */
    ::-webkit-scrollbar {
        background-color:#EBA6A9;
        width: 7px; 
      }
      ::-webkit-scrollbar-thumb {
        background-color:#48297f; 
        border-radius: 40px;
      }


    /* .top_items{
        visibility: 0px;
    }
    #main_contents{
        font-size: 65px;
        position: relative;
        top: 8rem;
        left: 10px;
    }
    #w3{
        font-size: 35px;
        position: absolute;
        display: flex;
        top:18.5rem;
        left: -7.1rem;
        text-align: left;
        justify-content: space-evenly;
        width: 25rem;
    }
    #sm_links{
        border-style: dashed;
        border-color: #9f8999;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items:center;
        border-width: 0.2vw;
        gap: 0.5vw;
        padding: 0.5vw;
        margin-top: auto;
        min-width: fit-content;
        max-width: fit-content;
        margin-bottom: 15vh;
        margin-left: 12vh;
    }
    #text_socials{
        position: absolute;
        text-align: center;
        font-size: 25px;
        font-family: "minimal7";
        color: #83858C;
    }
    #about_me{
        border-style: none;
        border-color: #E2DE84;
        border-radius: 30px;
        font-size: 30px;
        font-family: "minimal2";
        background-color: #8B80E0;
        color: #FFA9D7;
        position:static;
        height: 40px;
        width: 8.5rem;
    }
    #me_button{
        position: relative;
        display: flex;

        justify-content: space-evenly;

    }
    #about_me:hover{
        border-style: dashed;
        border-color: yellow;
        border-radius: 30px;
        font-size: 30px;
        border-width: 1px;
        font-family: "minimal2";
        background-color: #8B80E0;
        color: #FFA9D7;
        position: absolute;
        left: 12rem;
        top: 30.3rem;
        height: 40px;
        width: 8.5rem;

    }
    footer{
        display: flexbox;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 25px;
        bottom: 0vh;
        left: 25%;
        font-size:15px;
    }
    #w4{
        display: none;
    }
    #tag_line{
        display: none;
    }
    
    #body{
        height: 100vh;
        width: 100vw;
        border-radius: 10px;
    }
    navbar i{
        display: block;
    } */
}
#intro{

    display: flex;

}
#download_div a{
    color: white;
    display: flex;
    align-items: center;
    gap: 2px;
}
#download_div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    font-size: 10vh;
    margin-top: 7vh;
}
#down_button{
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -125px;
    /* max-width: fit-content; */
    max-height: fit-content;
    font-size: 3.5vh;
    border-radius: 15px;
    padding: 5px;
    /* width: 40vh; */
    border-style: dotted;
    border-width: 2px;
    color: #70161f;
    border-color: #536976;
    background-color: #7248D6;
    font-family:"minimal6";
    font-weight: 900;
}
#down_button a{
    color: #EBA6A9;
    font-weight: 900;
}
#down_button:hover{
    max-width:max-content;
    letter-spacing: 0.1em;
    transition-duration: 0.4s;
    /* border-style: solid; */
    /* border-width: 3px; */
    /* width: 30vh; */
    /* transition-timing-function: ease-in-out; */
}
#down_logo{
    height: 24px;
    align-items: center;
    justify-content: center;
    width: 24px;}
#resume_container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 98.9vw; */
    height: 100%;
    /* background-color: #0F2027; */
    margin-left: 50vh;
    margin-right: 50vh;
}
#resume{
    /* opacity: 0; */
    justify-content: center;
    align-items: center;
    height: 1280px;
    width: 1264px;
    margin-top: auto;
    border-width: 5px;
    border-style: solid;
    border-radius: 20px;
}
#resume_container{    
    box-shadow: 0 0 85px var(--clr);
    background: var(--clr);}
.resume_home{
    height: fit-content;
    background-image: url(/assests/img/milad-fakurian-bexwsdM5BCw-unsplash.jpg)
    /* background-repeat:unset; */
}
.wrapper_footer_home{
    backdrop-filter: blur(1000px);
    /* border-left: none; */
    /* border-right: none; */
    background-color:#1b1a2ea9;
    /* border-width:0.5PX; */
    /* border-radius: 2PX; */
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#Copyright_text{
    color: white;
    font-size:15px;
    font-family: minimal1;
    margin-right: 5px;
}
.wrapper_footer_home pre{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.wrapper_footer_res{
    backdrop-filter: blur(10px);
    border-left: none;
    border-right: none;
    /* margin-top: 0vh; */
    /* border-style: solid; */

    border-bottom:#70161E;
    /* background:radial-gradient(#4286f4); */
    /* background */
    /* border-color: #70161E; */
    /* margin-left: 5px; */
    /* margin-right: px; */
    backdrop-filter: blur(1000px);
    border-width:0.5PX;
    border-radius: 2PX;
    position: relative;
    display: flex;

    justify-content: space-between;
    align-items: center;

    margin-top:15vh;
}
#brain{
    opacity: 0;
    height: 35px;
}
#brain:hover{
    opacity: 1;
}
#ani{
    height:50vh;
    

}
.footer_images{
    height: 1px;
    opacity: 1;
    position: absolute;
    top: 50%; 
    left: 48%; 
    transform: translate(-50%, -50%); 
    display: flex;
    align-items: center;
}
.wrapper_footer_res pre{
    color: white;
}
#sm_links_res{
    margin-top: 1PX;
    /* height: 50px; */
    /* gap: 1vh; */
    display: flex;
    /* padding: 4px; */
    /* border-bottom:none; */
    /* max-width: fit-content; */
    /* border-top: #4286e0; */
    /* border-top-style: solid; */
    /* border-bottom: none; */
    /* border-style: dashed; */
    /* border-radius: 20px; */
    /* align-items: center; */
    /* justify-content: center; */
}
/* #text_footer{
    color: #70161E;
    display: flex;
    justify-content: center;
    align-items:center;
} */

























